@media (max-width: 600px) {
    .nav {
        display: none;
    }

    .bars {
        display: block;
        text-align: start;
        font-size: 1.7rem;
        margin-right: 10px;
        color: azure;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 17px;
        position: sticky;
        background-color: #1E1E1E;
        top: 0;
        z-index: 100;
    }

    .logo{
    color: #FA6E00;
    font-size: 14px;
    font-weight: bold;
}

.hire-me button{
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 200px;
    color: white;
    background-color: #FA6E00;
    border: 2px solid #FA6E00;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hire-me button:hover{
    background-color: initial;
    color: initial;
    transform: initial;
}
   
.first-section{
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    padding: 0px 0px 0px 0px;
}

.left{
    color: white;
    width: 100%;
    line-height: 1.5;
}

.left p{
    font-size: 35px;
    font-weight: 500;
    color: #FA6E00;
}

.left .hi{
    font-size: 30px;
    color: white;
}

.left span{
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
    width: 100%;
}

.icons a{
    color: white;
    font-size: 36px;
    margin-right: 10px;
    transition: 0.3s;
}

 a:hover{
    color: #FA6E00;
    transform: initial;
}

.left .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .buttons .btn-1, .left .buttons .btn-2{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 15px;
}

.left .buttons .btn-1{
    color: white;
    background-color: #FA6E00;
    border: 2px solid #FA6E00;
}

.left .buttons .btn-1:hover{
    background-color: initial;
    color: #FA6E00;
    transform:initial;
}

.left .buttons .btn-2{
    color: #FA6E00;
    background-color: transparent;
    border: 2px solid #FA6E00;
}

.left .buttons .btn-2:hover{
    background-color: initial;
    color: #FA6E00;
    transform: initial;
}

.right img{
    width: 400px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid #FA6E00;
}


/* -------------------------------services section------------------------------- */

.header h1{
    color: white;
    font-size: 20px;
    /* margin-bottom: 10px; */
}
    .services h1 {
        color: white;
        font-size: 20px;
        /* margin-bottom: 10px; */
    }

    .service-cards {
        padding: 0px 15px 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    .card {
        height: 400px;
        width: 100px;
        background-color: #1E1E1E;
        padding: 10px 7px;
        border-radius: 10px;
        transition: 0.3s;
        flex: 1;
        margin-bottom: 20px;
    }

    .card:hover {
        transform: initial;
    }


    .card img {
        width: 90%;
        height: 60%;
        border-radius: 5px;
        margin: 2px;
    }

    .card h3 {
        color: #FA6E00;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .card i {
        color: #FA6E00;
        font-size: 10px;
        margin-bottom: 5px;
        transition: 0.3s;
    }

    .card p {
        color: #959595;
        font-size: 12px;
        line-height: 1.2;
    }

/* ----------------------------------about-section-------------------------------------------- */

.about-me{
    flex-direction: column;
    padding: 0px 0px;
    margin-top: 20px;
}

.about-me .left-about img{
    width: 90%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #FA6E00;
    box-shadow: 0 0 10px #FA6E00;
    transition: 0.3s;
}

.about-me .left-about img:hover{
    transform: initial;
}

.about-me .right-about{
    color: #959595;
    line-height: 1.2;
    font-size: 18px;
    margin: 0px 30px 20px 30px ;
}

.about-me .right-about .btn-3{
    padding: 8px 15px;
    width: 300px;
    margin-left: 38px;
    font-size: 20px;
    font-weight: 400px;
    color: white;
    background-color: #FA6E00;
    border: 2px solid #FA6E00;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.about-me .right-about .btn-3:hover{
    background-color: initial;
    color: initial;
    transform: initial;
}

/* -----------------------------------skills-section-------------------------------------------- */

.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.skill{
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.skill h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 7px solid #FA6E00;
    border-radius: 50%;
    padding:20px 15px 20px 15px;
}

.skill h3 i{
    font-size: 40px;
}

/*----------------------------------projects-------------------------------------------- */

.projects{
     padding: 0px;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 30px;
}

.projects h1{
    color: white;
    font-size: 15px;
    /* margin-bottom: 10px; */
}

.project-card{
    background-color: #1E1E1E;
    padding: 0px;
    height: 400px;
    margin: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    flex: 1;
}

.project-card:hover{
    transform: initial;
}

.project-card img{
    width: 80%;
    height: 50%;
    margin: 20px;
}

.project-card h3{
    color: #FA6E00;
    font-size: 18px;
    margin-bottom: 8px;
}

.project-card p{
    color: #959595;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
    line-height: 1.5;
}

.project-card button{
    padding: 7px 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500px;
    color: white;
    background-color: #FA6E00;
    border: 2px solid #FA6E00;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.project-card button:hover{
    background-color: initial;
    color: initial;
    transform: initial;
}

/* -----------------------------------certificates-------------------------------------------- */

.certificates{
  position: relative;
  height: 350px;
  overflow: hidden;
  margin: 20px;
}

.certificates img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 350px;
  width: 90%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 8px;
}

/* -----------------------------------footer-------------------------------------------- */

.footer {
  flex-direction: column;
  margin: 30px 20px 0px 20px;
  border: 1px solid #1E1E1E;
  background-color: #1E1E1E;
  border-radius: 20px;
}

.contact_information {
  margin: 15px;
  background-color: rgba(167, 4, 4);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 50%;
}

.info {
  margin: 15px;
}

.info p {
  color: white;
  font-size: 15px;
  font-weight: 200;
}

.info h1{
    font-size: 22px;
}

.phone_no {
  display: flex;
  align-items: center;
  margin: 7px 0px 7px 0px;
}

.phone_no i {
  padding: 5px;
  font-size: 1.1rem;
}

.phone_no p {
  padding: 5px;
  font-size: 15px;
}

.emailid {
  display: flex;
  align-items: center;
  margin: 8px 0px 8px 0px;
}

.emailid i {
  padding: 5px;
  font-size: 1.1rem;
}

.emailid p {
  padding: 7px;
  font-size: 15px;
}

.resume {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 0px;
}

.resume a {
  text-decoration: none;
  margin-top: 10px;
  width: 100%;
  padding: 7px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resume a:hover {
  background: initial;
  transform: initial;
}
.contact-form {
  margin: 0px auto 20px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 400px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.contact-form label {
  font-weight: bold;
  margin-top: 5px;
  display: block;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 5px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
}

.contact-form textarea {
  resize: none;
  height: 80px;
}

.contact-form button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background: initial;
  transform: initial;
}

.policy {
  background-color: #2a2a2a;
  margin-top: 15px;
}

.policy p {
  padding: 5px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


}